body {
  margin: 0;
}

table {
  width:100%;
  border-collapse: collapse;
  font-size: .9em;
  min-width: 400px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

table th {
  background-color: #ca2acf;
  text-align: left;
  font-weight: bolder;
  color: #ffffff;
}

table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

table tbody tr {
  border-bottom: 2px solid #008979;
}

table tbody tr:last-of-type {
  border-bottom: 20px solid #ca2acf;
}


.column_1, .column_2 {
  min-height: 50px;
  padding: 10px;
}

.draggable_1, .draggable_2 {
  padding: 2px;
}

.txt {
  border-radius: 10px;
  resize: vertical;
  overflow: hidden;
}

.draggable_1.dragging_1, .draggable_2.dragging_2 {
  background-color: #ffffff;
  opacity: .5;
}